.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: #0000;
}
.card-img {
  border-radius: 8px;
  margin-bottom: 12px;
}
.card-content {
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}
