.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: #0000;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}
.card-img {
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.card-content {
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.15);
}
.card-badge {
  position: relative;
  top: 0;
  left: 100px;
  background-color: chocolate;
  padding: 2px;
}
.btn-add {
  background-color: rgb(11, 141, 11);
  padding: 0px 15px 0px 15px;
  margin: 0 10px 0 10px;
  border-radius: 5px;
  color: #ffffff;
}
